# Zepory Store
NEXT_PUBLIC_ZEPORY_SHOPIFY_STORE_DOMAIN=zepory.myshopify.com
ZEPORY_SHOPIFY_STOREFRONT_ACCESS_TOKEN=your-zepory-storefront-token

# Nautic Talk Store
NEXT_PUBLIC_NAUTICTALK_SHOPIFY_STORE_DOMAIN=nautictalk.myshopify.com
NAUTICTALK_SHOPIFY_STOREFRONT_ACCESS_TOKEN=your-nautictalk-storefront-token
